<div id="sp-nav">
	<div class="side_menu" >  
		<ul class="menu_items">
			<li class="menu_item" ng-repeat="item in menuItems" ng-click="onMenuItemClick($index)">
				{{item}}
			</li>
		</ul>
	</div>
</div>
<div id="sp-page">
	<div class="main_content">
		<button ng-click="$spMenu.toggle()">E</button>
		<span>{{pageTitle}}</span>
		<div ng-switch on="pageTitle">
	        <div ng-switch-when="Projects">
	        	<p ng-repeat="project in projectsData.projects">
					{{project.name}}
				</p>
	        </div>
	        <div ng-switch-when="Tasks">
	        	<p ng-repeat="issue in issuesData.issues">
					{{issue.subject}}
				</p>
	        </div>
	        <div ng-switch-when="My Profile">
	        	<p>
					<strong>Name: </strong>{{user.firstname}}
				</p>
				<p>
					<strong>Surname: </strong>{{user.lastname}}
				</p>
	        </div>
	    </div>
		
	</div>
</div>
