<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html ng-app="redmineApp">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <title>Hello World</title>
        <link href="lib/css/ionic.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/index.css"/>
        <script src="lib/js/ionic.bundle.js"></script>
        <script type="text/javascript" src="js/vendor/angular-resource.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/services/api.js"></script>
        <script type="text/javascript" src="js/controllers/login.js"></script>
        <script type="text/javascript" src="js/controllers/main.js"></script>
        <script type="text/javascript" src="js/controllers/projects.js"></script>
        <script type="text/javascript" src="js/controllers/issues.js"></script>
        <script type="text/javascript" src="js/controllers/profile.js"></script>
        <script type="text/javascript" src="js/controllers/project.js"></script>
        <script type="text/javascript" src="js/controllers/issue.js"></script>
    </head>
    <body>
        <div ng-controller="mainCtrl">
            <ion-nav-view></ion-nav-view>
        </div>

        <script id="main.html" type="text/ng-template">
            <ion-side-menus>

                <ion-pane ion-side-menu-content>
                    <ion-nav-bar type="bar-positive"
                                 back-button-type="button-icon"
                                 back-button-icon="ion-ios7-arrow-back"></ion-nav-bar>
                    <ion-nav-view name="menuContent"></ion-nav-view>
                </ion-pane>

                <ion-side-menu side="left">
                    <header class="bar bar-header bar-assertive">
                        <div class="title">Menu</div>
                    </header>
                    <ion-content has-header="true">
                        <ul class="list">
                            <a href="#/main/projects" class="item">Projects</a>
                            <a href="#/main/issues" class="item">Issues</a>
                            <a href="#/main/profile" class="item">My Profile</a>
                        </ul>
                    </ion-content>
                </ion-side-menu>

            </ion-side-menus>
        </script>

        <script id="login.html" type="text/ng-template">

            <ion-view title="'Sign-In'" left-buttons="leftButtons" right-buttons="rightButtons">
                <ion-content has-header="true">
                    <div class="list">
                        <label class="item item-input">
                            <span class="input-label">Username</span>
                            <input type="text" ng-model="user.username">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Password</span>
                            <input type="password" ng-model="user.password">
                        </label>
                    </div>
                    <div class="padding">
                        <button class="button button-block button-positive" ng-click="doLogin()">
                            Sign-In
                        </button>
                    </div>
                </ion-content>
            </ion-view>
        </script>

        <script id="projects.html" type="text/ng-template">

            <ion-view title="'Projects'">
                <ion-content class="has-header">

                    <ion-list ><!--option-buttons="itemButtons"-->

                        <ion-item ng-repeat="project in projectsData.projects"
                                  item="project"
                                  href="#/main/project/{{project.id}}">
                            {{ project.name }}
                        </ion-item>

                    </ion-list>

                </ion-content>
            </ion-view>
        </script>

        <script id="issues.html" type="text/ng-template">

            <ion-view title="'Issues'">
                <ion-content class="has-header">

                    <ion-list ><!--option-buttons="itemButtons"-->

                        <ion-item ng-repeat="issue in issuesData.issues"
                                  item="issue"
                                  href="#/main/issue/{{issue.id}}">
                            {{ issue.subject }}
                        </ion-item>

                    </ion-list>

                </ion-content>
            </ion-view>

        </script>

        <script id="profile.html" type="text/ng-template">
            <ion-view title="'My profile'">
                <ion-content class="has-header">
                    <div >
                        <p class="item">
                            <strong>First Name: </strong>{{user.user.firstname}}
                        </p>
                        <p class="item">
                            <strong>Second Name: </strong>{{user.user.lastname}}
                        </p>
                        <p class="item">
                            <strong>E-mail: </strong>{{user.user.mail}}
                        </p>
                        <button class="button button-block" ng-click="onLogout()">Logout</button>
                    </div>
                </ion-content>
            </ion-view>
        </script>

        <script id="project.html" type="text/ng-template">
            <ion-view title="projectData.project.name">
                <ion-content class="has-header">

                    <ion-list ><!--option-buttons="itemButtons"-->

                        <ion-item ng-repeat="issue in issuesData.issues"
                                  item="issue"
                                  href="#/main/project/{{projectId}}/issue/{{issue.id}}">
                            {{ issue.subject }}
                        </ion-item>

                    </ion-list>

                </ion-content>
            </ion-view>
        </script>

        <script id="issue.html" type="text/ng-template">
            <ion-view title="issueInfo.title">
                <ion-content class="has-header">
                    <div class="card">
                        <h2>{{issueData.issue.subject}}</h2>
                        <h4>Project: {{issueData.issue.project.name}}</h4>
                        <h4>Author: {{issueData.issue.author.name}}</h4>
                        <p><strong>Description:</strong> {{issueData.issue.description}}</p>
                    </div>
                    <div class="list list-inset">
                        <label class="item item-input">
                            <input type="text" placeholder="Comment" ng-model="issueInfo.commentText">
                        </label>
                    </div>
                    <div class="padding-left">
                        <button class="button" ng-click="onCommentClicked()">Send</button>
                    </div>


                </ion-content>
            </ion-view>
        </script>

    </body>
</html>
