.side_menu {
	background-color:#FFD700;
	height:500px;
	width:200px;
	float:left;	
}

.menu_items {
	list-style-type:none;
	margin:0;
	padding:0;
}

.menu_item {
	padding:10px;
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.main_content {
	background-color:#EEEEEE;
	height:500px;
	width: 500px;
	float:left;
	padding-left: 10px;
	padding-right: 10px;
}

